<div ng-controller="ParamSelectorController">
<ui-select ng-model="scope.paramValue" theme="selectize" title="{{paramTitle}}">
    <ui-select-match placeholder="{{matchPlaceholder}}">{{$select.selected.name}}
        <small class="badge" ng-bind-html="funcEval()($select.selected)"></small>
    </ui-select-match>
    <ui-select-choices repeat="item in items | filter: $select.search">
        <span ng-bind-html="item.name | highlight: $select.search"></span>
        <small class="badge" ng-bind-html="funcEval()(item)"></small>
    </ui-select-choices>
</ui-select>
    <ul>
        <li ng-repeat="item in items" ng-show="hasHighScore(item)" class="high-scores" ng-click="scope.paramValue = item">
            <span class="badge">{{funcEval()(item)}}</span> {{ item.name}}
        </li>
    </ul>
</div>